<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.project.graduation.mapper.StatisticMapper">
  <resultMap id="BaseResultMap" type="com.cqu.project.graduation.entity.Statistic">
    <id column="tableName" jdbcType="VARCHAR" property="tablename" />
    <result column="missingNum" jdbcType="INTEGER" property="missingnum" />
    <result column="havingNum" jdbcType="INTEGER" property="havingnum" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from statistic
    where tableName = #{tablename,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqu.project.graduation.entity.Statistic">
    insert into statistic (tableName, missingNum, havingNum
      )
    values (#{tablename,jdbcType=VARCHAR}, #{missingnum,jdbcType=INTEGER}, #{havingnum,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cqu.project.graduation.entity.Statistic">
    update statistic
    set missingNum = #{missingnum,jdbcType=INTEGER},
      havingNum = #{havingnum,jdbcType=INTEGER}
    where tableName = #{tablename,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select tableName, missingNum, havingNum
    from statistic
    where tableName = #{tablename,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select tableName, missingNum, havingNum
    from statistic
  </select>
</mapper>